*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
.navbar-logo img{
    width: 175px;
}
.navbar-links ul{
    display: flex;
    gap: 34px;
}
.navbar-links li{
    color: #fff;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    
}
.nav-icons i{
    color: #fff;
    font-size: 2rem;
    display: none;
}
@media(max-width:1000px){
    .nav-icons i{
        /* color: #fff; */
        display: block;
    }
}
@media(max-width:1000px){
    .navbar-links{
           display: none;
    }
}
@media(max-width:1400px){
    .navbar-links{
        padding-left: 190px;
    }
}
